---
---

@import "constants";
@import "helpers";
@import "highlight/fruity";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%;
}

body {
    animation: fadein 1s;
    transition: font-size .3s, color .3s, background-color .3s ease;

    a {
        transition: font-size .3s, color .3s, background-color .3s ease;
    }

    font-family: 'Source Code Pro', monospace;

    @media screen and (max-width: $break-small) {
        font-size: 80%;
    }

    @media screen and (min-width: $break-small) and (max-width: $break-large) {
        font-size: 100%;
    }

    @media screen and (min-width: $break-large) {
        font-size: 120%;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Color themes
@include theme("default", #3B2626, white);
@include theme("sublime", #272822, #F92672);
@include theme("monokai", #272822, #66CCB3);
@include theme("eclipse", white, #7F0055);
@include theme("solarized-light", #FDF6E3, #D33682);
// Color themes end

.highlight {
    padding: $content-free-space-small $content-free-space;
    margin: $content-free-space;
    font-size: 80%;

    & * {
        font-family: "Source Code Pro", monospace;
    }
}

#wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

/* Helpers */

.right {
    float: right;
}

.left {
    float: left;
}

.links {
    list-style-type: none;
    padding: $content-free-space 0;
    margin: 0;
    display: flex;

    a {
        padding: 0 $content-free-space;
    }

    & > li:not(:first-child)::before {
        content: "|";
    }
}

.theme-select {
    padding: $content-free-space 0;
}

/* Helpers End */

/* Home Page specific */

#intro {
    text-align: center;
    padding: $content-free-space;

    .intro-container {
        display: inline-block;
        text-align: left;
    }

    h1 {
        margin: 0;
    }
}

/* Home Page specific End */

/* Blog specific stuff */

.date {
    font-size: 80%;
    text-decoration: underline;
    text-decoration-style: dotted;

    float: right;
}

/* Blog specific stuff End*/

.page-content {
    flex-grow: 1;

    padding: $content-free-space;

    .page-content-container {
        max-width: $content-max-width;
        margin: 0 auto,
    }

    img {
        width: 100%;
    }
}
