<!DOCTYPE HTML>
<html>
	<head>
		{% include head.html %}
	</head>
	<body class="theme theme--default">

		<div id="wrapper">

			{% include header.html %}

			<div class="page-content">
					<div class="page-content-container">

					<article>
						<header>
						<h2>My Blog</h2>
						<p>
							There isn't much here right now, and there might not be for a while. I will just leave this page here as a reminder for myself that blogging could
							be cool in the (near) future...
						</p>
						</header>
					</article>

					<section>
						{% for post in site.posts %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
								</header>
								<a href="{{ post.url | absolute_url }}"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<a href="{{ post.url | absolute_url }}">more...</a>
							</article>
						{% endfor %}

					</section>

				</div>
			</div>

        	{% include footer.html %}

		</div>

	</body>
</html>
