<!DOCTYPE HTML>
<html>
    <head>
		{% include head.html %}
    </head>
	<body class="theme theme-default">

		<div id="wrapper">

			{% include header.html %}

			<div class="page-content">
				<div class="page-content-container">
					<header>
						<span class="date">{{ page.date | date_to_string }}</span>
						<h2><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></h2>
					</header>

					{{content}}

					<a href="{{ "/blog/" | absolute_url }}">Back to Blog Overview</a>
				</div>
			</div>

			{% include footer.html %}

		</div>

	</body>
</html>
